
.style {
 width: Fixed (1,906px)px;
 height: Hug (400px)px;
 top: -2361px;
 left: 4073px;
 padding: 79px 335px 79px 335px;
 gap: 10px;
 opacity: 0px;
 background-color: #FFD49C;
 justify-content: center;
 align-items: center;
 text-align: center;

}